body {
    background-color:#9799fa;
    color: #2200e628;
    margin: 0;
}

.nav {
    font-family: "Roboto", sans-serif;
}
#menu {
    background-color: black;
    color: #675cca;
    width: 100%;
}
.option {
    float:left;
    height: 30px;
    min-width: 80px;
    font-size: 18px;
    padding: 10px;
    text-align: center;
}
.option:hover {
 color: #f2fbff
}
#title {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
    color: black;
}
.picture1 {
    padding: 20px;
    width: 100%;
    float:left;
}
.name {
    color: black;
    width: 400px;
    font-size: 20px;
    float:left;
}
#footer {
    height: 30 px;
    text-align: center;
    color: black;
}