nav {
    background-color: #333;
    width: 100vw;
    max-width: 100%;
    color: #ddd;
    font-size: 24px;
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

nav .logo {
    padding: 16px;
    margin-bottom: 2px;
    letter-spacing: 1px;
}

nav .dropdownMenu {
    width: 100vw;
    display: block;
    background-color: #333;
}

nav .navIcon {
    color: #ccc;
    padding: 6px 16px;
    margin: 10px 10px 10px 0;
    border: 1px solid #666;
    border-radius: 8px;
}

nav .navIcon:hover {
    cursor: pointer;
}

nav #navItems {
    display: none;
}

nav #navItems .navItem {
    font-size: 20px;
}

nav #navItems .navItem a {
    display: block;
    padding: 5px;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #ccc;
    letter-spacing: 1px;
    text-align: left;
}

nav #navItems .navItem a:hover {
    color: #fff;
}

@media screen and (min-width: 768px) {
    nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    nav .dropdownMenu {
        width: 60vw;
    }

    nav .navIcon {
        display: none;
    }

    nav #navItems {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    nav #navItems .navItem {
        display: inline-block;
        width: 15vw;
        padding: 3px 0;
        color: #aaa;
        margin: 16px 16px 10px 0;
        font-size: 16px;
    }

    nav #navItems .navItem a {
        text-align: center;
    }

    nav #navItems .navItem a:first-child {
        color: #fff;
    }

    nav #navItems .navItem:hover {
        color: #ddd;
    }

    nav #navItems .navItem a:first-child:hover {
        color: #fff;
    }
}