/* Smietnik stylów */

/* Prawidłowe style */

body {
    display: block;
    margin: 0;
}

#main_photo {
    width: 100%;
    height: 100%;
}




.card {
    height: 300px;
    width: 352px;
    /* margin: 15px; */
    background-color: lightgrey;
    border: 1px solid darkgrey;
    box-sizing: border-box;
    margin-bottom: 15px;
    border-radius: 1%;
}

.card_name {
    width: auto;
    height: 33px;
    border-bottom: 1px solid darkgray;
    padding: 10px 20px;
    font-size: 20px;
}

.card_content {
    width: auto;
    height: 144px;
    border-bottom: 1px solid darkgray;
    background-color: white;
    padding: 20px;
}

.card_link {
    width: auto;
    height: 38px;
    padding: 12px 20px;
}

.flexing-wrapping {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 12px;
}

.flexing-wrapping_bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 12px;
}

#button {
    background-color: #2a38fd;
    padding: 6px 12px;
    width: auto;
    height: 38px;
    color: white;
}

.project {
    height: 425px;
    width: 350px;
    border: 1px solid darkgray;
    margin: 15px;
    box-sizing: border-box;
    border-radius: 2%;
}

.project_img {
    height: 200px;
    width: 350px;
    border-bottom: 1px solid darkgray;
}
.project_text {
    padding: 20px;
}

h3 {
    margin-block-start: 0em;
}

.last_text{
    border: 1px solid darkgray;
    width: 540px;
    height: auto;
    padding: 50px;
    box-sizing: border-box;
}

.last_image {
    border: 1px solid darkgray;
    width: 540px;
    height: auto;
    box-sizing: border-box;
}


.last_photo {
    width: 100%;
    height: 100%;
}

 /* Style zaimportowane z stylesheet_Kacper.css  */

 .nav {
     padding: 0.5em 1em;
     width: 100%;
     box-sizing: border-box;
     position: fixed;
     display: flex;
     align-items: center;
     color: rgb(217, 229, 255);
     background-image: linear-gradient(to right, #0a2b45, #042325);
     font-family: 'Amatic SC', cursive;
     font-weight: 500;
 }

 .start_nav {
     flex-grow: 8;
     text-align: left;
     font-size: 40px;
     padding-left: 5%;
 }

 .nav :not(.start_nav) {
     flex-grow: 1;
 } 

 a {
     color: rgb(217, 229, 255);
     text-decoration: none;
     font-size: 40px;
 }
 /*--------------------MEDIA---------------------------*/

 @media screen and (min-width: 1200px) {
     .container {
         margin-left: auto;
         margin-right: auto;
         width: 1140px;
         justify-items: center;
     }
 }

 @media screen and (max-width: 800px) {
     .container {
         margin: 30px;
     }

     .flexing-wrapping {
         padding: 100px;
     }

     .flexing-wrapping_bottom {
         padding-left: 100px;
         padding-right: 100px;
     }

     .last_text {
         width: auto;
     }

     .last_image {
         width: auto;
     }

     .project {
         height: auto;
         width: auto;
     }

     .project_img {
         height: auto;
         width: auto;
     }
 }

 @media screen and (max-width: 500px) {
     a {
         font-size: 25px;
     }

     .start_nav {
         font-size: 30px;
     }