/* Smietnik stylów */
.nav {
    text-align: center;
    background-color: darkgray;
    margin: 0;
    height: 50px;
    width: 100%;
}

/* Prawidłowe style */

body {
    display: block;
    margin: 0;
}

#main_photo {
    width: 100%;
    height: 100%;
}

.container {
    margin-left: 100px;
    margin-right: 100px;
}


.card {
    height: 300px;
    width: 352px;
    /* margin: 15px; */
    background-color: lightgrey;
    border: 1px solid darkgrey;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.card_name {
    width: auto;
    height: 33px;
    border-bottom: 1px solid darkgray;
    padding: 10px 20px;
    font-size: 20px;
}

.card_content {
    width: auto;
    height: 144px;
    border-bottom: 1px solid darkgray;
    background-color: white;
    padding: 20px;
}

.card_link {
    width: auto;
    height: 38px;
    padding: 12px 20px;
}

.flexing-wrapping {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 12px;
}

#button {
    background-color: #2a38fd;
    padding: 6px 12px;
    width: auto;
    height: 38px;
    color: white;
}

.project {
    height: 425px;
    width: 350px;
    border: 1px solid darkgray;
    /* margin: 15px; */
    box-sizing: border-box;
}

.project_img {
    height: 200px;
    width: 350px;
    border-bottom: 1px solid darkgray;
}
.project_text {
    padding: 20px;
}

h3 {
    margin-block-start: 0em;
}

.last_text{
    border: 1px solid darkgray;
    width: 540px;
    height: auto;
    padding: 50px;
    box-sizing: border-box;
}

.last_image {
    border: 1px solid darkgray;
    width: 540px;
    height: auto;
    box-sizing: border-box;
}

.footer {
    width: 100%;
    height: 150px;
    background-color: mistyrose;
    box-sizing: border-box;
}

#last_photo {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 800px){
    .container {
        /* margin-left: 15px;
        margin-right: 15px; */
        margin: 25px;
    }

    .last_text {
        width: auto;
    }

    .last_image {
        width: auto;
    }

    .project {
        height: auto;
        width: auto;
    }

    .project_img {
        height: auto;
        width: auto;
}