body {
    font-family: 'Dosis',
    sans-serif;
}

.container {
    max-width: 1140px;
    background-color: rgb(243, 243, 243);
    margin-right: auto;
    margin-left: auto;
    padding: 10px 20px;
    box-sizing: border-box;
}

.mainHeader {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.mainHeader h1 {
    min-width: 120px;
    margin-bottom: 0px;
}

.mainHeader h2 {
    margin-top: 3px;
}

.container > p {
    margin-top: 0px;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    width: 33.333333%;
    text-align: center;
}

.box h3 {
    margin-top: 3px;
    margin-bottom: 0px;
}

.box p { 
    margin: 0px 20px 15px 20px;
    padding: 5px;
    text-align: justify;
}
.box img {
    border-radius: 50%;
}

.box img:hover {
    transform: scale(1.05);
}

@media (max-width: 800px) { 
    .box {
        width: 50%;
    }
}

@media (max-width: 600px) {
    .box {
        width: 100%;
    }
}

/* ------------------------- */
.nav {
    padding: 0.5em 1em;
    width: 100%;
    box-sizing: border-box;
    /*position: fixed; */
    display: flex;
    align-items: center;
    color: rgb(217, 229, 255);
    background-image: linear-gradient(to right, #0a2b45, #042325);
}

.start_nav {
    flex-grow: 8;
    text-align: left;
    font-size: 50px;
    padding-left: 5%;
}

.nav :not(.start_nav) {
    flex-grow: 1;
}

a {
    color: rgb(217, 229, 255);
    text-decoration: none;
    font-size: 50px;
}