*
    margin: 0
    padding: 0
    box-sizing: border-box

html
    font-family: "Roboto", sans-serif

nav
    background-color: #333
    width: 100vw
    max-width: 100%
    color: #ddd
    font-size: 24px
    position: fixed
    display: flex
    flex-wrap: wrap
    justify-content: space-between

    .logo
        padding: 16px
        margin-bottom: 2px
        letter-spacing: 1px

    .dropdownMenu
        width: 100vw
        display: block
        background-color: #333

    .navIcon
        color: #ccc
        padding: 6px 16px
        margin: 10px 10px 10px 0
        border: 1px solid #666
        border-radius: 8px

    .navIcon:hover
        cursor: pointer

    #navItems
        // padding: 5px
        display: none

        .navItem
            font-size: 20px

            a
                display: block
                padding: 5px
                width: 100%
                height: 100%
                text-decoration: none
                color: #ccc
                letter-spacing: 1px
                text-align: left

                &:hover
                    color: #fff

main
    width: 100vw
    max-width: 100%
    padding: 90px 20px 10px 20px

    header
        h1
            font-size: 40px
            font-weight: normal
            padding-bottom: 10px
            display: inline-block
            padding-right: 10px

        h2
            display: inline-block

    h2
        font-size: 34px
        font-weight: normal
        margin-top: 10px
        margin-bottom: 10px

    .content
        text-align: justify

        .mainPic
            width: 100%
            height: 60vw
            background-color: #ddd
            color: #AAA
            font-size: 50px
            margin-bottom: 10px
            display: flex
            justify-content: center
            align-items: center

    .related
        margin-top: 10px
        margin-bottom: 10px

        .pics
            display: flex
            flex-wrap: wrap

        .relatedPic
            display: flex
            justify-content: center
            align-items: center
            max-width: 550px
            width: 100%
            height: 60vw
            max-height: 300px
            background-color: #ddd
            color: #AAA
            font-size: 40px
            margin-bottom: 10px

footer
    width: 100vw
    max-width: 100%
    background-color: #333
    color: #ddd
    padding: 30px
    font-size: 20px
    text-align: center

@media screen and (min-width: 580px)
    main
        .related
            .pics
                justify-content: space-around

            .relatedPic
                width: 40vw
                max-width: 300px
                height: 25vh
                max-height: 160px
                margin: 10px 20px 10px 0

@media screen and (min-width: 768px)
    nav
        display: flex
        justify-content: space-between

        .dropdownMenu
            width: 60vw

        .navIcon
            display: none

        #navItems
            display: flex

            .navItem
                display: inline-block
                width: 15vw
                padding: 3px 0
                color: #aaa
                margin: 16px 16px 10px 0
                font-size: 16px

                a
                    text-align: center

            .navItem:first-child
                color: #fff

            .navItem:hover
                color: #ddd

            .navItem:first-child:hover
                color: #fff

    main
        .content
            display: flex
            align-items: flex-start
            width: 100%
            justify-content: space-between

            .mainPic
                min-width: 360px
                width: 50vw
                min-height: 300px
                height: 30vh

            .mainContent
                margin-left: 20px
                min-width: 300px
                width: 45vw

        .related
            .pics
                justify-content: space-between

            .relatedPic
                width: 20vw
                max-width: 300px
                height: 14vh
                max-height: 160px
                margin: 5px 5px 5px 5px
